
.container {
    display: flex;
    justify-content: center; /* Cambiar a center para centrar los hijos */
    align-items: flex-start; /* Alinear los elementos al principio verticalmente */
    padding: 20px 0; /* Añadir algo de padding vertical */
}

.list-container {
    width: 45%;
    margin-right: 5%; /* Agregar margen a la derecha para separar de details-container */
}

.details-container {
    width: 60%;
}

table {
    width: 100%; /* Hacer que la tabla ocupe todo el ancho del contenedor */
    border-collapse: collapse; /* Colapsar bordes para un look más limpio */
    font-size: 16px; /* Ajustar según lo necesites */
}

table, th, td {
    border: 1px solid #ddd; /* Agregar bordes a la tabla y celdas */
    padding: 8px; /* Espacio interno para las celdas */
}

th {
    background-color: #f2f2f2; /* Un color de fondo para los encabezados */
}

.card {
    font-size: 16px; /* Ajustar según lo necesites */
}
